ul {
    list-style-type: none !important;  
}

h4 {
    margin-bottom: 20px;
}

h1 {
    color: rgb(153, 153, 153);
    font-family: holtwood-one-sc, serif !important;
}
.game-details-table {
    margin-top: 40px;
}

.game-details-controls {
    text-align: center;
    margin-bottom: 20px;
}

.game-details-controls-btn {
     padding: 8px !important;
}


.game-list {
    text-align: center;
}

#search-form {
    margin-bottom: 20px;
}
.search-field {
    width: 242px !important;
    margin-bottom: 10px;
}

.game-list a   {
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    vertical-align: middle;
    padding-top: 14px;
}

.game-list a span {    
    vertical-align: middle;
}

td, th {
    padding: 15px !important;
    cursor: pointer;
}

thead .btn {
     padding: 0px !important;
}

game-details-table

#forum-header p {
    text-align: center;
}



.welcome-message {
   background-color: rgb(245, 245, 245) !mportant;
border: 1px solid rgb(227, 227, 227)!mportant;
border-radius: 4px 4px 4px 4px!mportant;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset!mportant;
    margin-top: -50px!mportant;
}

.lead {
    margin-top : 10px;
    font-family: 'Elsie Swash Caps';
   color: rgb(153, 153, 153);
   
}



@media (min-width: 980px) { 
    .main-container {
    margin-top: 65px;
    }
}
