/* Will be compiled down to a single stylesheet with your sass files */

ul {
    list-style-type: none !important;  
}

h4 {
    margin-bottom: 20px;
}

.game-details-table {
    margin-top: 20px;
}

.game-details-controls {
    text-align: center;
    margin-bottom: 20px;
}

.game-list {
    text-align: center;
}


.game-list a   {
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    vertical-align: middle;
    padding-top: 14px;
}

.game-list a span {    
    vertical-align: middle;
}

#forum-list table tbody tr td {
    padding: 15px;
    cursor: pointer;
}

#forum-header p {
    text-align: center;
}

.hero-unit {
    background: url(../img/red-dice.png);
    background-size:800px,603px;
    background-repeat:no-repeat;
    color: rgb(153, 153, 153);
    height: 436px;
    margin-top: -50px;
}

.lead {

    color: rgb(73, 175, 205) !important;
   
}



@media (min-width: 980px) { 
    .main-container {
    margin-top: 65px;
    }
}
