<!-- HEADER & MENU  -->
<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="MenuCtrl">
    <div class="navbar-inner">
	   <div class="container">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
           </a> 
           <a class="brand" ng-click="setSelected('history')" href="#">Home</a>
           <div class="nav-collapse collapse">
               <ul class="nav">
                    <li><a ng-click="setSelected('popular')" href="#">Popular games</a></li>
                    <li><a ng-click="setSelected('search')" href="#">Search games</a></li>
                    <li><a ng-click="setSelected('about')" href="#">About</a></li>
				</ul>
           </div>
       </div>
    </div>
</div>


<!-- GAME LIST  -->
<div class="container main-container">
	<div class="row" ng-controller="ListCtrl">
        <div class="span12" style= "text-align:center;">
            <h4>{{message}} </h4>
             <div id="search-form" class="input-append"  style="display: none;">
            <form ng:submit='search()'> 
                 <input class="span5 search-field" id="appendedInputButton" type="text" ng-model="search.query">
                <button class="btn" type="submit" ng-click='search()'>Search</button>
            </form>
        </div>
        </div>
        
       
        
        <div class="span12 game-list" ng-repeat="game in gameList">
            
            <a  class="btn btn-info game-list" ng-click='getDetails(game.id)' href="#">
                <span>
                    {{game.name}} 
                </span>
            </a>
            
        </div>    
	</div>
    
    <!-- GAME DETAILS  -->
    <div class="row" ng-controller="GameDetailsCtrl"> 
      
        <div id="game-details" class="media" style="display: none;">
             <h4 class="media-heading">{{details.name}}</h4>
            <div class="btn-group game-details-controls">
              <button  ng-click="showVideos()" class="btn">Videos</button>
              <button ng-click="showOverivew()" class="btn">Overview</button>
              <button ng-click="showForums()" class="btn">Forums</button>
            </div>
            
            <a class="overview pull-left" href="{{details.link}}" target="_blank">
                <img class="media-object" src="{{details.thumbnail}}" style="margin-right: 30px;"/>
            </a>
            <div class="overview media-body">
               
                <span>{{details.description}}</span>
               
                <table  class="game-details-table table table-bordered table-striped">        
                    <thead> 
                        <tr>
                            <th>Rating</th>
                            <th>Number of players</th>
                             <th>Published</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            <td>{{details.rating}}</td>
                            <td>{{details.players}}</td>
                            <td>{{details.yearpublished}}</td>
                        </tr>
                    </tbody> 
                </table>
            </div>
            
            <!-- VIDEO LIST  -->
            <br>
            <div id ="video-list" class="media-body" style="display: none;">
                <table  class="table table-bordered table-striped ">        
                    <thead> 
                        <tr class="btn btn-block">
                            <th>Videos</th>
                         
                        </tr>
                    </thead>
                    <tbody> 
                        <tr ng-repeat="video in videoList">
                            <td><a href="{{video.link}}" target="_blank"> {{video.title}}</a></td>
                        </tr>
                    </tbody> 
                </table>    
            </div>
            
            <!-- FORUM  -->
            <br>
            <div id ="forum-list" class="media-body" style="display: none;">
                <table  class="table table-bordered table-striped ">        
                     <thead> 
                        <tr class="btn btn-block">
                            <th id="forum-header" ng-bind-html-unsafe="forumHeader" ng-click="getPrevForumPost()"></th>
                         
                        </tr>
                    <tbody> 
                        <tr ng-repeat="post in forumList">
                            <td ng-click='getNextForumPost(post.id, post.leaf, post.title)'><span ng-bind-html-unsafe="post.title"></span> </td>
                        </tr>
                    </tbody> 
                </table>    
            </div>
      </div>
    
    </div>    
        
        
        
        
    